@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Funnel+Display:wght@300..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Martel Sans', sans-serif;
    background-color: #000000;
}

.main {
    background: url("assest/image/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100%);
    height: 70vh;
    width: 100%;
    position: relative;
}

.main .box {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    opacity: 0.7;
    background-color: black;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

nav span img {
    width: 150px;
    position: relative;
    z-index: 5;
    left: 90px;
    top: 16px;
}

nav button {
    position: relative;
    z-index: 5;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 20px;
    padding: 0 20px;
}

.hero>:first-child {
    font-size: 56px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.sepration {
    width: 100%;
    height: 3px;
    background-color: gray;
    opacity: 0.5;
    margin: 3px 0;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #f5ebeb26;
    border: 1px solid rgba(255, 255, 255, 0.219);
}

.red-btn {
    background-color: red;
    color: white;
    padding: 4px 25px;
    font-size: 20px;
    cursor: pointer;
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    padding: 7px 30px;
    font-size: 15px;
    border-radius: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.308);
    color: white;
    background: rgb(0 0 0 / 58%);
}

.btn-red-sm {
    cursor: pointer;
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 1001px;
    color: white;
}


.secimg {
    position: relative;
    left: 200px;
}

.secimg img {
    width: 412px;
    position: relative;
    z-index: 10;
}

.secimg video {
    width: 295px;
    position: absolute;
    left: 56px;
    top: -8px;
    height: 310px;
}

.first>div {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: 900;
    padding: 34px 0;
}

.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: 500;
    top: 23px;
}

.faq {
    background: black;
    color: white;
    padding: 20px;
}

.faq>h2 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    display: flex;
    color: white;
    padding: 34px;
    background: rgb(41, 40, 40);
    max-width: 40vw;
    margin: 20px auto;
    border-radius: 3px;
}

.faqbox:hover {
    background: #474444;
    cursor: pointer;
    transition: 0.6s;
}

footer {
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 34px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width: 900px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero>:first-child {
        font-size: 32px;
    }

    .hero>:nth-child(2) {
        font-size: 18px;
    }

    .hero>:nth-child(3) {
        font-size: 18px;
    }

    nav {
        max-width: 90vw;
    }
    
}

@media screen and (max-width: 900px) {
    .first {
        flex-wrap: wrap;
    }
}

.footer-iteam {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer a {
    color: white;
    font-size: 14px;
}

footer .questons {
    padding: 34px 0;
}